{% include 'new_header' %}

<top-element>
  <section class="padding-top-5xl padding-bottom-xl padding-top-lg-6xl">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="display-md fw-bold">{{ "Anmälan till föreläsningar" | t }}</h1>
        </div>
      </div>
    </div>
  </section>
</top-element>

{% if cart.state == 'confirm' %}
  {% include 'checkout_confirm' %}
{% else %}
  {% include 'checkout_adress' %}
{% endif %}




<script src="{{ 'contact_details_handler.js' | template_path }}"></script>

{% include 'new_footer' %}


