{% include 'new_header' %}

<top-element>
  <section class="padding-top-5xl padding-top-lg-6xl padding-bottom-base padding-bottom-lg-2xl">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="display-lg fw-bold">{{ page.title }}</h1>
        </div>
      </div>
    </div>
  </section>
</top-element>


<section class="padding-top-base padding-top-lg-2xl padding-bottom-4xl padding-bottom-lg-6xl bg-default">
  <div class="container">
    <div class="row">

    </div>
  </div>
</section>
{% include 'new_footer' %}