@import 'colors'
@import 'typography'
@import 'spacings_radius'
@import 'ui_elements'


// ------------------------------
// Global
// ------------------------------
h1, h2, h3, h4, h5, h6, p
  margin-bottom: 0

html, body
  height: 100%
  scroll-behavior: smooth

body
  display: flex
  flex-direction: column

header
  position: fixed
  top: 0
  width: 100%
  z-index: 10
  background-color: $white

footer
  margin-top: auto

img
  height: 100%

button
  border: none
  background: none
  cursor: pointer

  *
    pointer-events: none

.overlay
  display: none
  position: fixed
  opacity: 0
  z-index: 999
  inset: 0
  background: rgba(0, 0, 0, 0.2)
  transition: opacity 300ms ease-out

  &.open
    opacity: 1

details > summary
  list-style: none !important

details > summary::marker,
details > summary::-webkit-details-marker
  display: none !important


// ------------------------------
// COMPONENTS
  // ------------------------------
modal-component
  display: none
  position: fixed
  z-index: 1000
  opacity: 0
  transition: all 0.3s ease-in-out

  &.open
    opacity: 1


.default-accordion
  padding: 10px 0
  position: relative
  color: $text-secondary

  &::after
    content: ""
    position: absolute
    pointer-events: none
    top: 0
    right: 0
    display: block
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 8V16M8 12H16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="%239CA3AF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
    background-repeat: no-repeat
    background-size: 20px
    height: 20px
    width: 20px

  &[open]
    summary
      padding-bottom: $spacing-sm

    &::after
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none"><path d="M7 11H15M21 11C21 16.5228 16.5228 21 11 21C5.47715 21 1 16.5228 1 11C1 5.47715 5.47715 1 11 1C16.5228 1 21 5.47715 21 11Z" stroke="%239CA3AF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')

.default-accordion__title
  max-width: 90%
// ------------------------------
// HELPERS
// ------------------------------

.image-wrapper--3x2
  aspect-ratio: 3/2
  overflow: hidden

  img
    object-fit: cover
    width: 100%

.image-wrapper--16x9
  aspect-ratio: 16/9
  overflow: hidden

  img
    object-fit: cover
    width: 100%


.display-lg-heading
  h1, h2, h3, h4, h5
    @extend .display-lg

.display-md-heading
  h1, h2, h3, h4, h5
    @extend .display-md

.display-sm-heading
  h1, h2, h3, h4, h5
    @extend .display-sm

.display-xs-heading
  h1, h2, h3, h4, h5
    @extend .display-xs

.text-lg-p
  p
    @extend .text-lg

.text-md-p
  p
    @extend .text-md

.p-semi
  p
    font-weight: 600


// ------------------------------
// HEADER
// ------------------------------
